[submodule "Gem.java.Mirror"]
	path = java/Mirror
	url = git@gitlab.com:gemsmiths/languagedevs/gemdevs/Gem.java.Mirror
[submodule "Gem.js.Opal"]
	path = js/Opal
	url = git@gitlab.com:gemsmiths/Gem.js.Opal
[submodule "Gem.py.Gem"]
	path = py/Gem
	url = git@gitlab.com:gemsmiths/Gem.py.Gem
[submodule "Gem.py.Old"]
	path = py/Old
	url = git@gitlab.com:gemsmiths/Gem.py.Old
[submodule "Gem.py.Other"]
	path = py/Other
	url = git@gitlab.com:gemsmiths/Gem.py.Other
[submodule "Gem.py.Parser"]
	path = py/Parser
	url = git@gitlab.com:gemsmiths/Gem.py.Parser
[submodule "Gem.py.PPK"]
	path = py/PPK
	url = git@gitlab.com:gemsmiths/Gem.py.PPK
[submodule "Gem.py.Tremolite"]
	path = py/Tremolite
	url = git@gitlab.com:gemsmiths/languagedevs/Gem.py.Tremolite
[submodule "Gem.py.UnitTest"]
	path = py/UnitTest
	url = git@gitlab.com:gemsmiths/Gem.py.UnitTest
