#
#   Copyright (c) 2018 Joy Diamond.  All rights reserved.
#
[submodule "Gem-doc-agenda"]
	path = doc/Agenda
	url = git@gitlab.com:gemsmiths/Gem-doc-agenda
[submodule "Gem-doc-coding"]
	path = doc/Coding
	url = git@gitlab.com:gemsmiths/Gem-doc-coding
[submodule "Gem.java.Mirror"]
	path = java/Mirror
	url = git@gitlab.com:gemsmiths/language-devs/silver-devs/java-mirror
[submodule "Gem.js.Opal"]
	path = js/Opal
	url = git@gitlab.com:gemsmiths/system-devs/opal
[submodule "Gem-py-ErrorCorrecting"]
	path = py/ErrorCorrecting
	url = git@gitlab.com:gemsmiths/Gem-py-ErrorCorrecting
[submodule "Gem.py.Gem"]
	path = py/Capital
	url = git@gitlab.com:gemsmiths/language-devs/gem-devs/python-gem
[submodule "Gem.py.Old"]
	path = py/Old
	url = git@gitlab.com:gemsmiths/mothball/Gem.py.Old
[submodule "Gem.py.Other"]
	path = py/Other
	url = git@gitlab.com:gemsmiths/language-devs/gem-devs/Gem.py.Other
[submodule "Gem.py.Parser"]
	path = py/Parser
	url = git@gitlab.com:gemsmiths/language-devs/gem-devs/Gem.py.Parser
[submodule "Gem.py.PPK"]
	path = py/PPK
	url = git@gitlab.com:gemsmiths/quarantine/Gem.py.PPK
[submodule "Gem.py.Tremolite"]
	path = py/Tremolite
	url = git@gitlab.com:gemsmiths/languagedevs/Gem.py.Tremolite
[submodule "Gem.py.UnitTest"]
	path = py/UnitTest
	url = git@gitlab.com:gemsmiths/language-devs/gem-devs/Gem.py.UnitTest
