
#   Copyright (c) 2017-2019 Joy Diamond.  All rights reserved.
#
22ce.txt
[2345]
[23]o
*.feature
files
files2
*.gpy
ice.y
jm.xml
lr1.txt
l.txt
m
oops[12].txt
oops.txt
*.py
rl[pr].txt
*r.txt
t.java
t.y
*.x
*.z
